.description {
    font-family: Poppins, sans-serif;
    color: #d8d8d8;
    font-size: 23px;
    line-height: 40px;
    font-weight: 400;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 32px;
}